@charset "UTF-8";

body {
    background-color: rgb(0, 174, 204);
    display: block;
    height: auto;
}

#app_header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#board_header {
    width: 100%;
    display: block;
    margin-top: 30px;
    position: static;
}

div#board_list {
    display: inline;
}

#dropdownMenu1,#board_add,#panel_add,#card_search,#logout {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

div#card_search {
    width: 200px;
    text-align: left;
    padding: 0;
    border: 0;
}

#card_search input.form-control.searchbox {
    width: 200px;
}

#contents_view {
    word-wrap: break-word;
}

input#card_title_text {
    width: 100%;
}

textarea#contents {
    width: 100%;
}

#panel_area {
    min-width: 2000px;
    height: auto;
    overflow-x: scroll;
    margin-top: 50px;
}
.pannel {
    width: 240px;
    height: 500px;
    overflow-y: auto;
    display: block;
    float: left;
    margin: 8px;
    padding: 8px;
}
.panel-heading {
    padding: 4px 10px;
}
.card {
    width: 98%;
    min-height: 70px;
    margin: auto;
    text-align: left;
    display: block;
    margin: 4px 4px 8px 4px;
    padding: 4px;
}
#hidden {
    display: none;
}

#board_title {
    width: auto;
    min-width: 200px;
    float: left;
    top: 26px;
}
#board_title h1 {
    font-size:20px;
    font-weight: bold;
    color: #fff;
    padding: 4px;
    margin: 0;
}

#board_title h1:hover {
    opacity: 0.55;
    cursor: pointer;
}

h2 {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 0;
    line-height: 1;
    cursor: pointer;
}

/* ボード一覧 */
#board_all_list {
    width: auto;
    height: auto;
    position: fixed;
    left: 0;
    top: 30px;
    z-index: 100;
    margin: 0;
    padding: 0;
}
#board_all_list ul {
    padding: 0;
}

.dropdown-menu {
    top: 0;
}

#board_all_list li {
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
}

.card.panel.panel-default {
    cursor: pointer;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    border-top: none;
}

input {
    margin-bottom: 10px;
}

#contents_toggle {
    font-weight: normal;
    text-decoration: underline;
    color: #444;
    cursor: pointer;
}

.sp-replacer {
    margin-bottom: 10px;
}

#logout {
    float: right;
}

#login_box {
    margin-top: 200px;
}
#login_box .white {
    color: #fff;
}

#login_box input[type="submit"] {
    margin-top: 10px;
}

#login_box label {
    color: #fff;
}

.btn.btn-default.card_add {
    color: #ccc;
}

.btn.btn-default.card_add:hover {
    color: #666;
    text-decoration: underline;
}

.dropdown-menu {
  z-index: 25000!important;
}

/* 検索結果 */
div#searchResult {
    text-align: left;
    height: 300px;
    overflow: auto;
}
